<div ng-include="'views/navigation.html'" />
<div>
  <h1>About Us</h1>
  <p>
    The Courant Fund has provided funding to benefit children and young people (under the age of 18) resident in the Lothians since its foundation in 1883.
  </p>
  <p>
    Applications should be submitted to the Honorary Secretary via the <a ng-href="#/contact">Contact</a> section of the website and are expected to come from professionals and organisations in direct contact with, or providing a service for, individuals or groups of children. The information given should clearly state the reason for the application, in the case of individual children a brief family history (finances, family composition, etc) and organisations should include a copy of their Annual Report. Priority is given to individual children or young people with particular needs.
  </p> 
  <p>
    The Trustees meet twice a year, usually March and September, to consider applications, but urgent applications will be considered in between the meetings. Applications should be received by the Honorary Secretary at least three weeks before the designated meetings.
  </p>
</div>
<div ng-include="'views/footer.html'" />