<div ng-include="'views/navigation.html'" />
<h1>Donations</h1>
<p>
	It isn't always possible for us to support everyone that applies for assistance due to the limited amount of funds we have available.
</p>
<p>
	That being the case, any donations or bequests that you would like to make to help support the work that we do are gratefully received. All funds received will be used to assist children and young people in the Lothians area.
</p>
<p>
	Please get in touch using the <a ng-href="#/contact">Contact</a> page if you would like more information on donating to The Courant Fund for Children.
</p>
<div ng-include="'views/footer.html'" />