<div ng-include="'views/navigation.html'" />
<h1>History</h1>
<h3>Origin</h3>
<p>
	Over a century ago the <a href="http://en.wikipedia.org/wiki/Edinburgh_Courant" target="_blank">Edinburgh Courant</a> newspaper folded leaving its assets to be invested for "the benefit of the City’s deprived children".
</p>
<h3>Development</h3>
<p>
	During the mid 20th Century, in consultation with social work and education boards, the fund strove to be of "the greatest good to the greatest number", organising vastly attended annual trips and treats. At Christmas time, three matinee pantomime specials filled an Edinburgh theatre. Summer picnics comprised a train trip from Waverley Station to the fields around Ratho and later to Spylaw Park in Colinton.
</p>
<h3>Now</h3>
<p>
	The Courant Fund for Children aims to meet the needs of and contribute to the welfare of children in the Lothians who are under 18 and are referred to them via specialists in the field of childcare. As there is no application form, submissions giving information on the reason for the request, together with background information on the individual or families’ financial and social situation, should be made to the Honorary Secretary via the <a ng-href="#/contact">Contact</a> page. Most grants are made by the Trustees at the AGM in March and at the September meeting, however emergency grants may be made outwith these meetings.
</p>
<div ng-include="'views/footer.html'" />